name: Project

on:
  pull_request:
  push:
    branches:
      - main
      - develop

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: go-task/setup-task@v1

      - run: |
          task coding-standards:shell-script:check
